<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body class="w-full h-screen flex justify-center items-center bg-lime-200">
<main class="flex flex-row ">
    <div class="flex items-center align-center flex-col me-5">
        <div class="p-3 bg-white rounded-lg shadow-lg text-center">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl m-5"> Le jeu du pendu 😵</h1>
            <p id="gameDescription" >Essayer de deviner le mot !</p>
        
            <form>
                <fieldset class="uk-fieldset">
        
                    <legend id="nbLeftTries" class="uk-legend"></legend>

                    <p class="text-xl font-extrabold m-2 text-red-500" id="cooldown"></p>
        
                    <div class="uk-margin">
                        <input class="uk-input" type="text" name="word" placeholder="Tapez une lettre" maxlength="1" id="letterInput">
                    </div>
        
                    <div class="uk-margin">
                        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold text-2xl py-2 px-4 rounded" type="submit" value="form-success" id="submitGuess">Tester</button>
                    </div>

                </fieldset>
            </form>
        
            <p id="userWord" class="text-xl">Votre mot est : </p>

            <p id="gameEnd" class="hidden mt-3">Reviens demain pour rejouer !</p>
        </div>
    </div>
    <div class="flex flex-col bg-white p-4 rounded-lg shadow-lg ms-5">
        <h1 class="font-extrabold text-2xl">Les scores</h1>
    </div>
</main>

</body>
</html>
